@charset "UTF-8";

/*When the device is stood up*/

body{
    background-image: url('../imagens001/cev-portrait.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center bottom;
}