@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, red 12%, rgb(255, 145, 0), yellow);
    background-attachment: fixed;
}

header{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1{
    flex: 0 0 250px;
}

#options{
    display: flex;
    flex-flow: row wrap;
}

#options > a{
    background-color: aqua;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    text-align: center;
}

#options > a:hover{
    background-color: rgb(22, 22, 237);
    transition-duration: 0.7s;
    color: whitesmoke;
}

@media screen and (max-width: 640px) {
    header{
        flex-direction: column;
    }
    h1{
    flex: 0 0 0px;
    }
    header > #options{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
}