@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --fonte-destaque: "Passion One", sans-serif;
   --fonte-textos: "Sriracha", cursive;
   --fonte-header-footer: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    min-height: 100vh;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section pre{
    white-space: pre-line;
    line-height: 2em;
    padding-left: 30px;
}


h1{
    font-family: var(--fonte-destaque);
    font-weight: 700;
    font-size: 8em;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-variant: small-caps;
}

header{
    background-color: black;
    height: 270px;   
}

header p{
    font-family: var(--fonte-header-footer);
    color: white;
    text-align: center;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}

.imagem > div{
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
}

footer{
    background-color: black;   
}

.txt-footer{
    color: white;
    font-family: var(--fonte-header-footer);
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}